<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BrainStorm</title>
        <link rel="icon" type="image/x-icon" href="assests/img/favicon.ico"/>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
        <link href="/stylesheets/main.css" rel="stylesheet" type="text/css" media="all">
        <link href="/fontawesome/css/all.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie+Flower%7CGloria+Hallelujah%7CKalam%7CRoboto+Condensed%7CMajor+Mono+Display">
    </head>
    <body>

        <!-- CONTAINER -->

        <div class="container">

            <!-- HEADER -->

            <% include partials/header.ejs %>


            <!-- MAIN NAV -->

            <% include partials/user-navigation.ejs %>


            <!-- BODY -->

            <div class="jumbotron container">

                <div class="row">
                    <div class="col-lg-2 col-sm-12">

                        <!-- SIDENAV -->

                        <% include partials/site-navigation.ejs %>
                    </div>

                    <div id="content" class="col-lg-10 col-sm-12">

                        <!-- MAIN CONTENT -->
                        <%if(message){%><p><%=message%></p><%}%>
                        <h3>Welcome to BrainStorm!</h3>
                        <br>
                        <p>Please enter your username and password to sign in.</p>
                        <form class="login" action="/myItems/check" method="post">
                            <label for="username">Username</label>
                            <input type="text" name="username" id ="username"><br><br>
                            <label for="password" class="login">Password</label>
                            <input type="password" name="password" id ="password"><br>
                            <div><button class="button">Sign In</button></div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- FOOTER -->

            <% include partials/footer.ejs %>

        </div>

    </body>

</html>
